@charset "utf-8";

/*
   CIS155 Spring 2019
   Class Project V4
   
   TSS Typographic Style Sheet for Class Project, V4
   Author: Francesca Avellina
   Date: 2019-6-2
   
   Filename: op_media.css
*/
  
 /* Mobile Styles: 0 to 480px  */
 
@media only screen and (max-width: 480px)  {  
    nav a {                                    
           font-size: 1.2em;
           line-height: 2em;
          }
          
    nav ul {    
         list-style: none;
         list-style-image: none;
         width: 100%;
        }
        
    nav li {
        float: none;
        text-align: center;
        width: 100%;
        background-color: rgb(31, 72, 61);
        border-radius: 0px;                  
        border: 1px double  rgb(100,150,150);
        padding: 1px 1px;
        }
        
    nav li a    {
        display: block;
        color: white;
        padding: 2px 2px;
        text-decoration: none;
        }
        
    nav a:hover {
        color: black;
        background-color: hsl(211,50%,80%);
        }    
         
    aside {
           display: none;
          }
          
    html {
           background-image:  none;
          }
          
    body {
          width: 100%;
         }
        
    h1 {
        font-weight: normal;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 0.7em;
        margin: 0px;
        text-align: center;
        padding-top: 2px;
        padding-right: 2px;
        padding-left: 5px;
        padding-bottom: 5px;
        text-shadow: 2px 0 2px green;           
        background-color: rgb(91, 55, 55);
        display: block;
        clear: both;                           
       }                                
       
       img#OP_Map {
            display: none;
            }  
            
        nav ul {
                display: block;
                list-style: none;
                list-style-image: none;
                }
        
    footer {
        -webkit-order: 100;
        order: 100;
        }
}




 